@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-animate {
    animation: pageAniamte 200ms ease-in-out;
  }
  @keyframes pageAniamte {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
